<template>
  <div>
    <b-row>
      <b-col>
        <h4>จัดการข้อมูลนิสิต</h4>
      </b-col>
      <b-col>
        <b-button variant="success" class="float-right" @click="addNewUser">
          Add New
        </b-button>
      </b-col>
    </b-row>
    <br />
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group label="studentId" label-for="studentId">
          <b-form-input
            id="studentId"
            v-model="form.studentId"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group label="Name" label-for="name">
          <b-form-input id="name" v-model="form.name" required></b-form-input>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editUser(data.item)">Edit</b-button>
        &nbsp; &nbsp;
      </template>
    </b-table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: 'เพิ่มผู้ใช้ใหม่',
      form: {
        id: -1,
        studentId: '',
        name: ' '
      },

      userList: [
        { id: 1, studentId: '60160009', name: 'นางสาวจตุพร เหมรานนท์' },
        { id: 2, studentId: '60160149', name: 'นางสาวอรอนงค์ จันวิเศษ' },
        { id: 3, studentId: '60160138', name: 'นางสาวดาราวีร์ พลปิยะ' }
      ],
      lastId: 4,
      fields: [
        {
          key: 'id',
          label: 'ลำดับ'
        },
        {
          key: 'studentId',
          label: 'รหัสนิสิต'
        },
        {
          key: 'name',
          label: 'ชื่อนิสิต'
        },
        {
          key: 'operation',
          label: 'แก้ไข'
        }
      ]
    }
  },
  methods: {
    addNewUser () {
      console.log('Add new user')
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      console.log('Edit ')
      console.log(user)
      this.title = 'แก้ไข'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    resetModal () {
      this.form = {
        id: -1,
        name: '',
        gender: null
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Exit when the form isn't valid
      if (this.form.id > 0) {
        this.updateUser(this.form)
      } else {
        this.addUser(this.form)
      }
      // Push the name to submitted names
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    addUser (user) {
      user.id = this.lastId++
      this.userList.push(user)
    },
    updateUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1, user)
    }
  }
}
</script>
>
