<template>
  <div>
    <b-nav tabs justified>
      <b-nav-item active>สหกิจ IF</b-nav-item>
      <b-nav-item>หน้าหลัก</b-nav-item>
      <b-nav-item>เกี่ยวกับสหกิจ</b-nav-item>
      <b-nav-item>ค้นหางาน</b-nav-item>
      <b-nav-item>กำหนดการอบรม</b-nav-item>
      <b-nav-item>ผลการเข้าร่วมสหกิจ</b-nav-item>
      <b-nav-item>จัดการข้อมูล</b-nav-item>
      <b-nav-item></b-nav-item>
      <b-nav-item>เจ้าหน้าที่ </b-nav-item>
    </b-nav>
    <br>
  </div>
</template>
