<template>
  <b-container fluid>
    <b-col><Header></Header></b-col>

    <b-row>
      <b-col md="6" offset-md="3"><Body></Body></b-col>
    </b-row>
  </b-container>
</template>

<script>
import Header from './Header.vue'
import Body from './Body.vue'
export default {
  components: {
    Header,
    Body
  }
}
</script>
